<div class="d-flex justify-content-center align-items-center container">
  <div class="card py-5 px-3">
    <h5 class="m-0">enter your activation code</h5>
    <span class="mobile-text"><b class="text-danger"></b></span>
    <form [formGroup]="activationCodeForm" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-row mt-5">
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code0" autofocus>
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code1">
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code2">
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code3">
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code4">
        <input type="text" class="form-control" maxlength="1" pattern="[0-9]" inputmode="numeric" formControlName="code5">
      </div>
      <div class="text-center mt-5">
        <span class="d-block mobile-text"></span>
        <button type="submit" class="font-weight-bold text-danger cursor btn btn-link">Submit</button>
        <button type="button" class="font-weight-bold text-danger cursor btn btn-link" (click)="onResend()">Resend</button>
      </div>
    </form>
  </div>
</div>
