<div class="customer-navbar" style="background-color: #0d6efd">
  <ul class="nav me-auto">
    <li class="nav-item">
      <a class="nav-link link-body-emphasis px-2 active" aria-current="page" routerLink="">Banking Service</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link link-body-emphasis px-2 active" aria-current="page" routerLink="/homepage">Home</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link link-body-emphasis px-2 active" aria-current="page" routerLink="/product">Store</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link link-body-emphasis px-2 active" aria-current="page" routerLink="/cart">Cart</a>
    </li>
  </ul>
  <ul class="nav">
    <!-- Show Login link if not logged in -->
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link link-body-emphasis px-2" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link link-body-emphasis px-2 active">
        <i class="fas fa-user"></i>
        <span>Welcome {{ username }}</span>
      </a>
    </li>
    <!-- Show Log Out link if logged in -->
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link link-body-emphasis px-2" (click)="logOut()" style="cursor: pointer;">Log Out</a>

    </li>
    <!-- Show Sign up link if not logged in -->
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link link-body-emphasis px-2" routerLink="/register" routerLinkActive="active">Sign up</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
